<div class="col" style="text-align: center;">

    <mat-form-field class="example-full-width" appearance="legacy" style="margin-left: 5px;">
        <input maxlength="3" [formControl]="inputOrigin" matInput placeholder="Departure" class="input_search">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="legacy" style="margin-left: 5px;">
        <input maxlength="3" [formControl]="inputDestination" matInput placeholder="Arrival" class="input_search">
    </mat-form-field>

</div>


